<%= form_for @request, html:{class: "form-horizontal"} do |f|  %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :email%>
    <%= f.text_field :email, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :email%>
    <%= f.label :department%>
    <%= f.radio_button(:department, "Sales")  %>
    <%= label_tag(:department_Sales, "Sales")  %>
    <%= f.radio_button(:department, "Marketing")  %>
    <%= label_tag(:department_Marketing, "Marketing")  %>
    <%= f.radio_button(:department, "Technical")  %>
    <%= label_tag(:department_Technical, "Technical")  %>
  </div>
  <div class="form-group">
    <%= f.label :message%>
    <%= f.text_area :message, class: "form-control"  %>
  </div>
  <%= f.submit class: "btn btn-primary"%>
<% end %>

