<h1>Support Requests</h1>

<p> See all requests below: </p>
<%= form_tag(requests_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Requests" %>
  <%= submit_tag "Search" %>
<% end %>

<% if @requests.present? %>
  <p> Search results:</p>
<% else %>
  <p>There are no requests containing the term(s) <%= params[:search] %>.</p>
<% end %>

<table class="table table-bordered table-condensed">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Message</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <% @requests.each do |r|  %>
      <tr>
        <td><%= r.name  %></td>
      <td><%= mail_to r.email %></td>
        <td><%= r.department %></td>
        <td><%= r.message %></td>
        <!--  Actions and buttons  -->
        <td>
          <%= link_to "Edit", edit_request_path(r), class: "btn btn-info"  %>
          <%= link_to "Delete", request_path(r), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
          <% if r.done  %>
            <% @request = Request.find(r.id) %>
            <%= form_for @request, html:{class: "form-horizontal"} do |f| %>
              <%= f.hidden_field :name, value: r.name%>
              <%= f.hidden_field :email, value: r.email %>
              <%= f.hidden_field :department, value: r.department %>
              <%= f.hidden_field :message, value: r.message %>
              <%= f.hidden_field :done, value: false %>
              <%= f.submit "Mark Not Done", class: "btn btn-primary"%>
            <% end  %>
 
          <% else  %>
            <% @request = Request.find(r.id) %>
            <%= form_for @request, html:{class: "form-horizontal"} do |f| %>
              <%= f.hidden_field :name, value: r.name%>
              <%= f.hidden_field :email, value: r.email %>
              <%= f.hidden_field :department, value: r.department %>
              <%= f.hidden_field :message, value: r.message %>
              <%= f.hidden_field :done, value: true %>
              <%= f.submit "Mark Done", class: "btn btn-primary"%>
            <% end  %>
          <% end  %>
        </td>
      </tr>
    <% end  %>
  </tbody>
</table>
