<!DOCTYPE html>
<html>
<head>
  <title>Quiz1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/nav"  %>

  <%= yield %>

  <% if flash[:notice]  %>
    <div role="alert"><%= flash[:notice]  %></div>
  <% elsif flash[:alert]  %>
    <div role="alert"><%= flash[:alert]  %></div>
  <% end %>
  <% if @request%>
    <% if @request.errors.any? %>
        <ul>
        <% @request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

</body>
</html>
